.logo {
    //height: 80px;
    //color: #FFD500;
    //padding-top: 20px;
    //padding-left: 12px;
    position: absolute;
    left: 0%;
    right: 88.57%;
    top: 10%;
    bottom: 10%;
}

.logo_container {
    position: relative;
}