.toolbox {
    position: absolute;
    top: 94px;
    width: 1440px;
    //border: 1px solid black;
    height: 20px;
    margin-left: 120px;

    .searchbox {
        
        .searchinput {

        }
    }
    
}

// .filters {
//     position: absolute;
// }

