.filters {
  //position: absolute;
  display: flex;
  width: 753px;
  height: 21px;
  //border: solid 1px black;
  float: right;
}

.type {
  //position: absolute;
  //display: inline-block;
//   left: 22.22%;
//   right: 22.22%;
//   top: 38.1%;
//   bottom: 34.13%;
// 
}

.employees {
  //display: inline-block;
  //position: absolute;
  // left: 22.22%;
  // right: 22.22%;
  // top: 38.1%;
  // bottom: 34.13%;
}
